 {% if DEFAULT_PAGINATION %}
 <!-- Pager -->
 <div class="pagination">
     <div class="left-column">
         {% if articles_page.has_next() %}
         <a href="{{ SITEURL }}/{{ articles_next_page.url }}" title="Older posts">
             <i class="fa-solid fa-arrow-left fa-lg"></i>
         </a>
         {% endif %}
     </div>
     <div class="center-column">
         <span class="nb_page">Page: {{ articles_page.number }} / {{ articles_paginator.num_pages }}</span>
     </div>
     <div class="right-column">
         {% if articles_page.has_previous() %}
         <a href="{{ SITEURL }}/{{ articles_previous_page.url }}" title="Newer posts">
             <i class="fa-solid fa-arrow-right fa-lg"></i>
         </a>
         {% endif %}
     </div>
 </div>
 {% endif %}
